page-assessment-create {
	.ratingBtn1 {
		color: color($colors, dark, base);
	}

	.ratingBtn2 {
		color: color($colors, danger, base);
	}

	.ratingBtn3 {
		color: color($colors, warning, base);
	}

	.ratingBtn4 {
		color: color($colors, balanced, base);
	}

	.ratingBtn5 {
		color: color($colors, warning, base);
	}	
}

assessment-session-list, page-session-detail {
	.assessed {
		color: color($colors, balanced, base);
	}
	.notassessed {
		color: color($colors, danger, base)
	}
}
