.blue-label {
   color: blue !important;
   font-style:bold !important;
}

ion-select {
    max-width: 100%;    
}

.item-md-light {
    background-color: #f4f4f4 !important;
    color: #000 !important;
}

.selected-item{
    background-color:#387ef5;
    color: #fff !important;
}
.selected-item p{    
    color: #fff !important;
}